.second-section {
    padding: 50px 0;
}

.second-section-row {
    align-items: center;
}

.row {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: -15px;
    align-content: stretch;
    justify-content: center;
    flex-wrap: wrap;
}

.col {
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 1;
    max-width: 50%;
    flex-basis: 50%;
}

.second-section-text-wrapper {
    max-width: 540px;
    padding-top: 15px;
    padding-bottom: 167px;

    .wrapped-text-container {
        margin-bottom: 20px;

        span {
            font-weight: 600;
            font-style: normal;
            font-size: 20px;
            line-height: 22px;
            color: #183059;
        }

        img {
            margin-right: 2%;
        }
    }
}

.second-section-description {
    margin-left: 110px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #536C97;
}

.heading {
    margin-bottom: 24px;
    font-size: 48px;
    font-weight: 700;
    font-style: normal;
    line-height: 65.37px;
    color: #183059;
}

.second-section-sub {
    max-width: 550px;
    margin-bottom: 35px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: #183059;
}

.second-section-img-wrapper {
    display: flex;
    max-width: auto;
    height: 850px;

    .second-section-img {
        max-width: 100%;
        padding-right: 0;
        margin: 0 50px 0 30px;
    }
}

img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

@media screen and (max-width: 991px) {
    .container {
        padding-right: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 768px) {
    .second-section-text-wrapper {
        padding-bottom: 65px;
    }

    .col {
        max-width: 100%;
        flex-basis: 100%;
    }

    .second-section-img-wrapper {
        display: flex;
        justify-content: center;
        height: 600px;
    }
}

.dark {
    color: #1c2237;
}

.darkBg {
    background-color: #EEF1F7;
}

.lightBg {
    background-color: white;
}